.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__title {
  margin: 246px 0 5px;
  justify-self: center;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.not-found__subtitle {
  margin: 0 0 184px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.not-found__back {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .not-found__title {
    margin-top: 408px;
  }
}

@media screen and (max-width: 480px) {
  .not-found__title {
    margin: 329px 0 10px;
    font-size: 80px;
    line-height: 97px;
  }
  
  .not-found__subtitle {
    margin: 0 0 284px;
    font-size: 12px;
    line-height: 15px;
  }
  
  .not-found__back {
    font-size: 12px;
    line-height: 15px;
  }
}