.promo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.promo__container {
  margin: 20px 40px 0;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.promo__title {
  margin: 160px 0 151px;
  max-width: 730px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}


@media screen and (max-width: 1279px) {
  .promo__container {
    margin: 20px 20px 0;
  }
  .promo__title {
    min-width: 680px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 767px) {
  .promo__container {
    margin: 14px 14px 0;
  }
  .promo__title {
    min-width: 292px;
    font-size: 29px;
    line-height: 37px;
  }
}