.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  display: flex;
  padding: 18px 70px;
  align-items: center;
}

.header__auth {
  margin-left: auto;
}

.header__register-btn {
  padding: 0;
  margin-right: 30px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__login-btn {
  padding: 8px 0;
  width: 76px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #000;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 18px 14px;
  }

  .header__register-btn {
    margin-right: 14px;
    font-size: 10px;
    line-height: 16px;
  }

  .header__login-btn {
    padding: 5px 0;
    width: 54px;
    font-size: 10px;
    line-height: 16px;
  }
}